body {
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: orange;
  margin-bottom: 30px;
}
header img {
  width: 300px;
  height: auto;
}

.game_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1000px;
}

.game_displays {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
}

.game_window {
  display: flex;
  flex-direction: column;
  width: 45%;
  box-sizing: border-box;
  margin: 3.3333333333% 0;
  align-items: center;
  height: calc(20px + diceWindow);
}

.dice_window {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 45%;
  margin-bottom: 3.3333333333%;
}

.dice_image_container {
  position: relative;
  width: 45%;
  height: 0;
  padding-top: 45%;
  background-color: green;
}

.dice_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width as needed */
  height: auto;
}

.message_window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100px;
  background-color: black;
  margin-bottom: 3.3333333333%;
}

.button_window {
  margin-bottom: 3.3333333333%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.button_window button {
  width: 100px;
}

.player_color {
  background-color: blue;
}

.computer_color {
  background-color: red;
}

#playerWindow {
  background-color: blue;
}

#computerWindow {
  background-color: red;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: purple;
}