// background color variables
$bodyBColor: green;

$headerBColor: orange;

$gameContainerBColor: yellow;
$playerWindowBColor: blue;
$computerWindowBColor: red;

$footerBColor: purple;

// width variables
$gameContainerWidth: 90%;
$gameWindowWidth: 45%;

$diceWindowWidth: 100%;

// height variables
$headerHeight: 80px;
$diceWindowHeight: 150px;

// margin variables
$marginBottom: calc(10% / 3);

body {
  background-color: $bodyBColor;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $headerHeight;
  background-color: $headerBColor;
  margin-bottom: 30px;

  img {
    width: 300px;
    height: auto;
  }
}

.game_container {
  display: flex;
  flex-direction: column;
  width: $gameContainerWidth;
  margin: auto;
  background-color: $gameContainerBColor;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;;
  max-width: 1000px;
}

.game_displays {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
}

.game_window {
  display: flex;
  flex-direction: column;
  width: $gameWindowWidth;
  box-sizing: border-box;
  margin: $marginBottom 0;
  align-items: center;
  height: calc(20px + diceWindow);
}

.dice_window {
  display: flex;
  justify-content: space-evenly;
  width: $diceWindowWidth;
  height: $gameWindowWidth;
  margin-bottom: $marginBottom;
}

.dice_image_container {
  position: relative;
  width: 45%;
  height: 0;
  padding-top: 45%;
  background-color: green;
}

.dice_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width as needed */
  height: auto;
}

.message_window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100px;
  background-color: black;
  margin-bottom: $marginBottom;
}

.button_window {
  margin-bottom: $marginBottom;
  display: flex;
  gap: 10px;
  flex-direction: column;

  button {
    width: 100px;
  }
}

.player_color {
  background-color: $playerWindowBColor;
}

.computer_color {
  background-color: $computerWindowBColor;
}

#playerWindow {
  background-color: $playerWindowBColor;
}

#computerWindow {
  background-color: $computerWindowBColor;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: $footerBColor;
}