// background color variables
$bodyBColor: linear-gradient(to bottom right, #669999 0%, #000066 100%);

$headerBColor: orange;

$gameContainerBColor: rgba(255, 255, 255, 0.4);
$playerWindowBColor: #445c84;
$computerWindowBColor: #344c7c;

$footerBColor: purple;

// width variables
$gameContainerWidth: 90%;
$gameWindowWidth: 45%;

$diceWindowWidth: 100%;

// height variables
$headerHeight: 80px;
$diceWindowHeight: 150px;

// margin variables
$marginBottom: calc(10% / 3);

@mixin button-style($background_color, $text_color) {
  background-color: $background_color;
  color: $text_color;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 5px black;
  padding: 5px;
  width: 150px;
  font-size: 1.2em;

  &:active {
    box-shadow: 0px 2px black;
    transform: translateY(3px);
  }
  &:disabled {
    background-color: gray;
    color: black;
    box-shadow: none;
    transform: none;
    box-shadow: 0px 5px black;
  }
}

@mixin border-style($border_color) {
  border: 2px solid $border_color;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

body {
  background: $bodyBColor;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $headerHeight;
  background-color: $headerBColor;
  margin-bottom: 30px;

  img {
    width: 300px;
    height: auto;
  }
}

.game_container {
  display: flex;
  flex-direction: column;
  width: $gameContainerWidth;
  margin: auto;
  background-color: $gameContainerBColor;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;;
  max-width: 1000px;
  @include border-style(black);
}

.game_displays {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
}

.game_window {
  display: flex;
  flex-direction: column;
  width: $gameWindowWidth;
  box-sizing: border-box;
  margin: $marginBottom 0;
  align-items: center;
  height: calc(20px + diceWindow);
  border-radius: 5px;
}

.dice_window {
  display: flex;
  justify-content: space-evenly;
  width: $diceWindowWidth;
  height: $gameWindowWidth;
  margin-bottom: $marginBottom;
}

.dice_image_container {
  position: relative;
  width: 45%;
  height: 0;
  padding-top: 45%;
}

.dice_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width as needed */
  height: auto;
}

.message_window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  height: 100px;
  margin: 20px 0;
}

.button_window {
  margin-bottom: $marginBottom;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  #roll {
    @include button-style(lime, black);
  }

  #newGame {
    @include button-style(red, black);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player_color {
  background-color: $playerWindowBColor;
}

.computer_color {
  background-color: $computerWindowBColor;
}

#playerWindow {
  background-color: $playerWindowBColor;
}

#computerWindow {
  background-color: $computerWindowBColor;
}

.rules_window {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 30px auto;
  width: $gameContainerWidth;
  background-color: $gameContainerBColor;
  box-sizing: border-box;
  padding: 20px;
  @include border-style(black);

  h3 {
    border-bottom: 2px solid black;
  }
}

.winner {
  font-size: 2.5em;
  font-weight: bold;
  color: lime;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: $footerBColor;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    height: auto;
    img {
      display: none;
    }
  }

  .game_container {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .game_window {
    width: 100%;
    margin: 20px;
    @include border-style(black);
  }

  .dice_window {
    width: 100%;
  }

  .message_window {
    width: 100%;
  }

  .button_window {
    width: 100%;
  }

  .rules_window {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .dice_window {
    flex-direction: column;
    height: auto;
  }

  .dice_image_container {
    width: 100%;
    padding-top: 100%;
  }

  .button_window {
    .game_displays {
      flex-direction: column;
    }
  }
}